In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('dataset.csv').drop('username', axis = 1)

data['wrist'].unique()

In [17]:
data.describe()

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
count,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000
mean,0.522170,0.500801,-0.074811,-0.562585,-0.313956,0.004160,0.037203,0.022327
std,0.499511,0.500002,1.009299,0.658458,0.486815,1.253423,1.198725,1.914423
min,0.000000,0.000000,-5.350500,-3.299000,-3.753800,-4.430600,-7.464700,-9.480000
25%,0.000000,0.000000,-0.381800,-1.033500,-0.376000,-0.920700,-0.644825,-1.345125
50%,1.000000,1.000000,-0.059500,-0.759100,-0.221000,0.018700,0.039300,0.006900
75%,1.000000,1.000000,0.355500,-0.241775,-0.085900,0.888800,0.733700,1.398200
max,1.000000,1.000000,5.603300,2.668000,1.640300,4.874200,8.498000,11.266200

In [18]:
data

,date,time,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
...,...,...,...,...,...,...,...,...,...,...
88583,2017-7-9,20:9:15:317911028,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048
88584,2017-7-9,20:9:15:517889022,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761
88585,2017-7-9,20:9:15:717828989,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616
88586,2017-7-9,20:9:15:917932987,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755
88587,2017-7-9,20:9:16:117410004,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814

# CNN VS RNN?

# WILL GYRO HANDLE WRIST?

# SEPARATE BY DATE AND MAKE ENTRIES OF ALL OVERLAPPING 128 SEQUENCES

In [55]:
print("SUMMARY FOR TOTAL ACCELERATION WHEN WALKING")
data[data['activity']==0][['acceleration_x', 'acceleration_y', 'acceleration_z']].apply(lambda row: row['acceleration_x']**2 +row['acceleration_y']**2 +row['acceleration_z']**2 , axis =1).describe()

SUMMARY FOR TOTAL ACCELERATION WHEN WALKING

count    44223.000000
mean         1.212928
std          0.518397
min          0.105755
25%          0.812026
50%          1.125703
75%          1.558811
max          4.763208
dtype: float64

In [56]:
print("SUMMARY FOR TOTAL ACCELERATION WHEN RUNNING")
data[data['activity']==1][['acceleration_x', 'acceleration_y', 'acceleration_z']].apply(lambda row: row['acceleration_x']**2 +row['acceleration_y']**2 +row['acceleration_z']**2 , axis =1).describe()

SUMMARY FOR TOTAL ACCELERATION WHEN RUNNING

count    44365.000000
mean         3.003977
std          3.850106
min          0.002547
25%          0.538999
50%          1.153036
75%          4.005605
max         32.921858
dtype: float64

In [23]:
print("SUMMARY FOR ACCELERATION IN X DIRECTION WHEN WALKING")
data[data['activity'] == 0]['acceleration_x'].describe()

SUMMARY FOR ACCELERATION IN X DIRECTION WHEN WALKING

count    44223.000000
mean        -0.056871
std          0.350447
min         -1.226400
25%         -0.344150
50%         -0.203000
75%          0.279300
max          1.457900
Name: acceleration_x, dtype: float64

In [25]:
print("SUMMARY FOR ACCELERATION IN X DIRECTION WHEN RUNNING")
data[data['activity'] == 1]['acceleration_x'].describe()

SUMMARY FOR ACCELERATION IN X DIRECTION WHEN RUNNING

count    44365.000000
mean        -0.092695
std          1.382414
min         -5.350500
25%         -0.651700
50%          0.061800
75%          0.641900
max          5.603300
Name: acceleration_x, dtype: float64